@media screen and (max-width: 652px) {
    body {
        padding: 0 2rem;
    }

    header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . inscription"
                         "navigation navigation navigation"    
    }
    .logo {
        padding-left: 0;
    }
    .navigation {   
        order: 2;
    }
    .main {
        margin-top: 5rem;
    }
    .hebergements, .activites {
        border-bottom: 2px solid #f2f2f2;
        border-top: none;
        flex: 1;
        padding-left: 1rem;
    }
    .hebergements:hover, .activites:hover {
        border-top: none;   
        border-bottom: 2px solid #0065FC;    
    }
    .inscription {
        order: 1;
        padding-right: 0;
    }
    .search-bar {
        display: flex;
        width: 100%;
    }
    @media screen and (max-width: 500px) {
        .search-text {
           flex: 1;
        }        
    }
    .search-text {
        width: 50%;
    }
    .search-button {
        display: none;
    }
    .filters {
        padding-left: 1rem;
    }
    .filters-list {
        padding: 0 0 0 1rem;
    }
    .title-list {
        margin-top: 2rem;
        padding-left: 1rem;
    }
    .housing-section {
        grid-template-columns: auto;
    }
    .main-housing {
        background-color: white;
    }
    .main-housing-grid {
        grid-template-columns: 1fr;
    } 
    .popular-housing {
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(3, 10rem);  
        grid-row: 1;      
    }
    .popular-housing-title {
        margin: 0 0 1rem 0;
    }
    .popular-article-title {
        font-size: 0.9rem;
    }
    .popular-star {
        margin: 2rem 0 0 0.25rem;
        flex-wrap: wrap;
        font-size: 80%;
    }
    .popular-description {
        height: 100%;
    }
    .popular-picture {
        height: 9rem;
    }
    .popular-text {
        font-size: 85%;
    }
    .more {
        padding-top: 0.5rem;
    }
    .activity {
        row-gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin: 0;
    }
    .title-list-activity {
        margin-bottom: 0;   
    }
    .activity-picture {
        height: 100px;
    }
    @media screen and (max-width: 410px){
        .activity-title-picture {
            font-size: 0.8rem;
        }
    }
    .sixieme {
        margin-top: 2rem;
    }
    .footer-list {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .li-footer {
        width: 100%;
        padding: 0 0 0 2rem;
    }

}
